/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Color variables*/
:root {
    --color-correct: #538d4e;
    --color-present: #b59f3b;
    --color-absent: #3a3a3c;
    --color-background: #121213;
    --color-text: #ffffff;
    --color-tile-border: #3a3a3c; /*Empty tile outlines*/
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; 
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 30px;
    color: #888;
}

/*-------Game Board----------------*/
#game-board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.board-row {
    display: flex;
    justify-content: center; 
    gap: 5px;
}

.tile {
    width: 60px;
    height: 60px;
    border: 2px solid var(--color-tile-border);
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}


/*--------Keyboard-------------------*/
#keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.key {
    background-color: #818384; /*Unguessed keys */
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px; /*Rounds key edges*/
    height: 58px;
    
    flex: 1; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer; /*Turns mouse into pointing hand when hovering*/
    user-select: none; 
    text-transform: uppercase;
}

.wide-key {
    flex: 1.5;
    font-size: 0.9rem;
}

.spacer {
    flex: 0.5; /*For either end of middle row*/
}